
.row{
 display: flex;
 justify-content: center;
 
}

.card{
  width: auto;
  height: auto;
  border: 2px solid #333C83;
  box-shadow: 5px 5px 4px #8D8DAA;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  
  

}
#sel{
  text-align: center;
  margin: 5px;
}

ul{
 margin-right: 15px;
 text-align: center;

}
#data{
  margin: 15px;
  
}